
@{
    ViewBag.Title = "AdminPanel";
}

<h2>AdminPanel</h2>

@Html.ActionLink("Добавить автомобиль", "CreateCar", "Car")
@Html.ActionLink("Зарегистрировать нового менеджера", "RegisterManager", "Account")
@Html.ActionLink("Заказы", "DetailsOrders", "Order")
@Html.ActionLink("Данные о пользователях", "DataUsers", "Account")


