@model IEnumerable<Service.ViewModels.DamageCarArticleList>

@{
    ViewBag.Title = "DamageCars";
}

<h2>DamageCars</h2>


<table class="table">
    <tr>
        <th>
            Описание повреждения
        </th>
        <th>
            Стоимость ремонта
        </th>
        <th>
            Находится под ремонтом сейчас?
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if(item.ManagerEmail == ViewBag.ManagerEmail)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CostRepair)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnderRepairNow)
                </td>
                <td>
                    @if (item.UnderRepairNow)
                    {
                        using (Html.BeginForm())
                        {
                            <input type="hidden" name="UnderRepairNow" value="false" />
                            <input type="hidden" name="Id" value="@item.Id" />
                            <input type="submit" value="Автомобиль вернули с ремонта" />
                        }
                    }
                </td>
            </tr>
        }
    }

</table>
