
@{
    ViewBag.Title = "Кабинет менеджера";
}

<h2>Кабинет менеджера</h2>

<div class="col-md-12 col-md-3">
    <ul class="nav">
        <li>@Html.ActionLink("Заказы", "DetailsOrders", "Order")</li>
        <li>@Html.ActionLink("Поврежденные автомобили", "DamageCars", "Home")</li>
    </ul>
</div>

