@model Service.ViewModels.InvoiceForClient
@{
    ViewBag.Title = "Личный кабинет";
}

<h2>Личный кабинет</h2>

@if (Model.InvoiceRental > 0)
{
    <dl>
        <dt>
            Реквизиты для оплаты:
        </dt>
        <dd>
            МФО Банка: 000000
        </dd>
        <dd>
            Код ЕГРПОУ: 00000000
        </dd>
        <dd>
            Банк-получатель: ПАО "АБВ"
        </dd>
        <dd>
            Текущий счет получателя: 00000000000
        </dd>
        <dd>
            Сумма к оплате @Model.InvoiceRental грн.
        </dd>
    </dl>
}

@if (Model.CostRepair > 0)
{
    <dl>
        <dt>
            Реквизиты для оплаты:
        </dt>
        <dd>
            МФО Банка: 000000
        </dd>
        <dd>
            Код ЕГРПОУ: 00000000
        </dd>
        <dd>
            Банк-получатель: ПАО "АБВ"
        </dd>
        <dd>
            Текущий счет получателя: 00000000000
        </dd>
        <dd>
            Сумма к оплате за ремонт @Model.CostRepair грн.
        </dd>
    </dl>
}

